
@font-face {
  font-family: "Jost";
  src: url('../public/fonts/Jost-Regular.ttf') format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
font-family: "Jost";
src: url('../public/fonts/Jost-SemiBold.ttf') format("truetype");
font-style: normal;
font-weight: 600;
}

@font-face {
font-family: "Jost";
src: url('../public/fonts/Jost-Bold.ttf') format("truetype");
font-style: normal;
font-weight: 700;
}

:root {
  font-family: Jost, sans-serif;
  font-weight: 400;
  background-color: #484283;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  box-sizing: border-box;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
}

button {
  appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 0;
  padding: 0;
}